<div class="container">

  <ci-flash-message></ci-flash-message>

  <div class="col-lg-8 col-md-6 col-sm-6">

    <h2>Log In</h2>

    <ci-server-error error-message="serverError"></ci-server-error>

    <form name="form" role="form" ng-submit="login()" novalidate ci-processing="credentials">

        <div class="form-group" ng-class="{'has-error': form.username.$touched && form.username.$invalid}">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" id="username" ng-model="user.username" placeholder="Username" required>
          <div ng-show="form.$submitted || form.username.$touched">
            <span ng-show="form.username.$error.required" class="help-block">*This field is required.</span>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': form.password.$touched && form.password.$invalid}">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" ng-model="user.password" placeholder="Password" required>
          <div ng-show="form.$submitted || form.password.$touched">
            <span ng-show="form.password.$error.required" class="help-block">*This field is required.</span>
          </div>
        </div>

        <button ng-class="{'disabled': form.$invalid}" type="submit" class="btn btn-default" ng-disabled="form.$invalid">Submit</button>

      <p>New user? <a href="#/register">Register</a> now. </p>

    </form>

  </div>

</div>
